@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/monserrat.ttf');
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #2f2f2f;
  color:  whitesmoke;
}

.chosen {
  transform: scale(1);
}

.correct {
  transform: scale(0.75);
}

.game-container {

  .game-heading-container {
    text-align: center;
  }

  .cards-container-outer {
    display: flex;
    min-height: 70vh;
    justify-content: center;
    align-items: center;

    .cards-container-inner {
      width: 417px;
      display: flex;
      justify-content: center;
      flex-flow: row wrap;

      .card {
        border-radius: 10px;
        height: 100px;
        width: 100px;
        margin: 0.5%;
        transition: all;
        transition-duration: 250ms;

      }

      span {
        font-size: 10px;
      }
    }
  }
 
  .game-alerts-container {
    text-align: center;
  }

  button {
    font-family: 'Montserrat', sans-serif;
    background-color: #2f2f2f;
    border: 2px solid whitesmoke;
    padding: 10px;
    color: whitesmoke;
  }

}
