@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
}

.card {
  height: 100px;
  width: 100px;
  margin: 0.5%;
  transition: all;
  transition-duration: 250ms;
}

span {
  font-size: 10px;
}

.chosen {
  transform: scale(1.1);
}

.correct {
  transform: scale(0.75);
}